body {
    background: #F2EFEA;
}
.header {
    background: rgb(180, 179, 177);
}

.main-heading {
    color: #4D6D9A;
}

.secondary-heading {
    color: #FE938C;
}
.third-heading {
    color: #5F6366;
}
img {
    max-width: 50vw;
    height: 200px;
}   
.linkNavigation {
    text-decoration: none;
    color: #022F40;
    font-weight: bold;
}
}
